<tr>
  <td>
    <%= review.rating =%>/5
  </td>
  <td>
    <p><%= review.description %></p>
  </td>
<% if current_user == review.user %>
  <td> 
    <%= link_to fa_icon('trash'), [@product, review], 
    class: 'btn btn-sm btn-danger', 
    method: :delete, 
    data: { confirm: "Are you sure you want to delete?" } %> 
  </td>
<% end %>
</tr>